*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

# Virtual environment
venv
#忽略.gitignore文件本身
.gitignore
#忽略pycharm编辑器配置文件
.idea/
.idea/*
#忽略.pyc文件
*.pyc
#忽略虚拟环境
venv/
vevn
vevn/*
#忽略数据库迁移脚本
migrations/*
migrations/env.pyc
#忽略数据库文件
*.sqlite
*.sqlite*
#其他
env.py
extension.list
